@font-face {
    font-family: main-font;
    src: url('./Oswald-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    background-color: #FAF5EB;
}

section {
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 48px;
}

nav .logo {
    width: 180px;
}

nav .logo .logo1 {
    width: 150px;
    transform: rotate(-4deg);
}

nav .logo .logo-top {
    width: 80px;
    position: absolute;
    left: -10px;
    transform: rotate(-20deg);
}

.nav-links {
    display: flex;
    gap: 24px;
}


.nav-links img {
    width: 100px;
    position: relative;
    left: -76px;
    bottom: -30px;
}

.nav-links a {
    font-family: main-font;
    text-decoration: none;
    color: black;
}

.search-box {
    border: 2px solid gray;
    padding: 12px 24px;
    border-radius: 48px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-box span i {
    color: orange;
    font-size: 24px;
}

.search-box input {
    border: none;
    background-color: #FAF5EB;
}

.search-box input::placeholder {
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.search-box input:focus {
    border: none;
    outline: none;
}

.line {
    width: 2px;
    height: 24px;
    background: gray;
}

.cart i {
    font-size: 24px;
    color: black;
}

.cart-count {
    position: absolute;
    background-color: #d02a35;
    color: white;
    border: none;
    border-radius: 12px;
    text-align: center;
    padding: 2px 8px;
    top: 12px;
    right: 52px;

}


.hero-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.main-heading {
    width: 100%;
    padding: 48px 72px;
}

.tag-ingredients {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 6px 12px;
    background-color: #E9ECD8;
    border-radius: 48px;
    gap: 4px;
    border: 1px solid #60912A;
}

.tag-ingredients h6, i {
    font-family: Arial, Helvetica, sans-serif;
    color: #60912A;
}

.main-heading .heading h1{
    font-family: main-font;
    font-weight: 500;
    line-height: 72px;
    margin-top: 32px;
    font-size: 64px;
}

.main-heading .heading .underline img{
    width: 180px;
    margin-bottom: 12px;
}

.main-heading .heading h1 span {
    color: #21521E;
}

.main-heading .sub-heading {
    font-family: sans-serif;
    line-height: 24px;
    color: #6f6d6b;
}

.cart-plus-minus-button {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
    width: 360px;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 4px;
    border: none;
    border-radius: 48px;
}

.add-to-cart-button span i {
    font-size: 18px;
    color: black;
    background-color: #FCCB66;
    padding: 8px;
    border: none;
    border-radius: 48px;
}

.add-to-cart-button div {
    font-family: main-font;
    padding: 6px 20px;
    color: white;
}

.inc-dec-button {
    display: flex;
    background-color: #fff;
    border: 1px solid grey;
    padding: 4px 8px;
    border-radius: 48px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05),
                0 1px 3px rgba(0, 0, 0, 0.03);
}

.inc-dec-button span {
    padding: 4px 6px;
    font-size: 18px;
}

.tags-container {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 12px;
    margin: 32px 0px;
}

.tag {
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.leaf-img span img {
    width: 36px;
    border: 1px solid #40C057;
    border-radius: 48px;
    padding: 8px;
}


.leaf-txt h6{
    font-family: main-font;
    margin: 2px 0px;
}

.leaf-txt p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 300;
    color: #93918A;
}

.fire-img span img {
    width: 36px;
    border: 1px solid #F29D29;
    border-radius: 48px;
    padding: 8px;
}

.fire-txt h6{
    font-family: main-font;
    margin: 2px 0px;
}


.fire-txt p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 300;
    color: #93918A;
}

.heart-img span img {
    width: 36px;
    border: 1px solid #D32F2F;
    border-radius: 48px;
    padding: 8px;
}


.heart-txt h6{
    font-family: main-font;
    margin: 2px 0px;
}

.heart-txt p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 300;
    color: #93918A;
}

.image {
    width: 100%;
    left: -200px;
    position: relative;
}

.image .image-section {
    width: 100%;
    padding: 48px 72px;
    gap: 32px;
    display: flex;
}

.tooYumm-img {
    transform: rotate(-6deg);
    position: relative;
}

.veggie-stix {
    width: 400px;
}

.sticker-img {
    position: absolute;
    width: 50%;
    /* height: 100%; */
    /* background-color: black; */
    left: -20%;
    top: 30%;
}

.chilli-fire-meat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.chilli-fire-meat-container div {
    margin: 12px 0px;
}

.chilli-fire-meat-container div img {
    width: 32px;
}

.chilli-container {
    display: flex;
    width: 100%;
    gap: 12px;
}

.chilli-container .chilli-bg img {
    width: 50px;
    height: 50px;
    background-color: #1C653F;
    padding: 12px;
    border-radius: 50px;
}

.chilli-container .chilli-text h6 {
    font-family: main-font;
    font-size: 16px;
}

.chilli-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #A09E9C;
    width: 150px;
}


.meat-container {
    display: flex;
    gap: 12px;
}

.meat-container .meat-bg img{
    background-color: #DA2330;
    border-radius: 48px;
    padding: 12px;
    width: 50px;
    height: 50px;
}

.meat-container .meat-text h6 {
    font-family: main-font;
    font-size: 16px;
}

.meat-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #A09E9C;
    width: 180px;
}

.fire-container {
    display: flex;
    gap: 12px;
}

.fire-container .fire-bg img{
    background-color: #F7B12F;
    border-radius: 48px;
    padding: 12px;
    width: 50px;
    height: 50px;
}

.fire-container .fire-text h6 {
    font-family: main-font;
    font-size: 16px;
}

.fire-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #A09E9C;
    width: 150px;
}